/** a number of styling has been done individually and can be found under ./src/components/styles 
  * this has been done to make it easier on myself when going back to look at where im styling objects. 
  */

@font-face {
  font-family: "Pixel-LCD-7";
  src: url("../src/font/Pixel-LCD-7.woff");
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url("./img/home_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

body,
h2 {
  font-family: "Pixel-LCD-7";
  letter-spacing: 2px;
}

a {
  color: #e60000;
}

.tetris_div:hover {
  background-image: url("./img/tetris_btn_img.png");
  opacity: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  overflow: hidden;
}

.snake_div:hover {
  background-image: url("./img/snake_btn_img.png");
  opacity: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  overflow: hidden;
}

.instructions {
  font-family: "Helvetica Neue";
}
