body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.main-styling {
  border: 5px solid greenyellow;
  height: 100%;
  width: 100%;
}

.home-bg {
  background-image: url("./img/tetris_wallpaper.jpg");
  height: 100%;
  width: 100%;
}

.tetris-bg {
  background-image: url("./img/tetris_wallpaper.jpg");
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
